@font-face {
    font-family: "ONE PIECE";
    src: url("https://db.onlinewebfonts.com/t/82848488b73a87d72f2436c02b9ab608.eot");
    src: url("https://db.onlinewebfonts.com/t/82848488b73a87d72f2436c02b9ab608.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/82848488b73a87d72f2436c02b9ab608.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/82848488b73a87d72f2436c02b9ab608.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/82848488b73a87d72f2436c02b9ab608.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/82848488b73a87d72f2436c02b9ab608.svg#ONE PIECE")format("svg");
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(https://raw.githubusercontent.com/perazzajose/OP-api/main/img/MerryGo.webp);
    
}
  .card {
    font-family: "ONE PIECE", sans-serif;
    background: rgba(255, 255, 255, 0.295);
    backdrop-filter: blur(10px);
    
  }
  .card-title {
    text-align: center;
    font-size: 3rem;
  }

  p{ 
  font-size: 1.9rem;
  }


 


@media (max-width: 768px) {
    .card {
      width: 90%; 
      margin: 0 auto; 
    }
    
    .card img {
      max-width: 100%; 
      height: auto; 
    }
  }
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
}
@media (min-width: 481px) and (max-width: 767px) {
 .card img {
    width: 80%;
    height: auto;
 }
}
@media only screen and (min-width : 321px) {
}
@media only screen and (max-width : 320px) {
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
}
 
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) 
and (orientation : landscape) {
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) 
and (orientation : portrait) {
}
